[*]
charset=utf-8
end_of_line=lf
insert_final_newline=false
indent_style=tab
tab_width=2

[{*.sht,*.html,*.shtm,*.shtml,*.htm,*.eex}]
indent_style=space
indent_size=2

[{*.xml,*.svg,*.wsdl,*.xslt,*.xul,*.rng,*.jrxml,*.xsl,*.xsd,*.fxml,*.ant,*.tld,*.jnlp,*.jhm}]
indent_style=space
indent_size=2

[{.babelrc,.stylelintrc,jest.config,.eslintrc,*.json,*.bowerrc,*.jsb3,*.jsb2}]
indent_style=space
indent_size=2

[{*.rhtml,*.erb}]
indent_style=space
indent_size=2

[{spec,rails,spork,rake,rcov,cucumber,capfile,gemfile,rakefile,guardfile,isolate,vagrantfile,Puppetfile,*.gemspec,*.rb,*.jbuilder,*.rbw,*.rake,*.thor,*.ru}]
indent_style=space
indent_size=2

[*.css]
indent_style=space
indent_size=2

[*.ex]
indent_style=space
indent_size=2

[*.exs]
indent_style=space
indent_size=2

[{*.applejs,*.js}]
indent_style=space
indent_size=2

